# Блок фронта
frontend/node_modules
frontend/dist
frontend/.vite


# Общее
.DS_Store
.idea
.vscode
.env

# Виртуальное окружение
venv/
venv_*/

# Файлы IDE
.idea/
.vscode/
*.swp

# Python кэш
__pycache__/
*.py[cod]

# Базы данных
*.sqlite3
*.db

# Логи
*.log