# Блок фронта
frontend/node_modules
frontend/dist
frontend/.vite

backend/celerybeat-schedule
backend/celerybeat-schedule-shm
backend/celerybeat-schedule-wal

# Общее
.DS_Store
.idea
.vscode
.env

# Виртуальное окружение
venv/
venv_*/

# Файлы IDE
.idea/
.vscode/
*.swp

# Python кэш
__pycache__/
*.py[cod]

# Базы данных
*.sqlite3
*.db

# Логи
*.log

.cursor/
.claude/

celerybeat-schedule-wal
celerybeat-schedule
celerybeat-schedule-shm