asgiref>=3.8,<4
Django>=6
psycopg==3.3.2
psycopg-binary==3.3.2
sqlparse==0.5.5
typing_extensions==4.15.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv>=1.0
drf_spectacular>=0.27.0
pycryptodome==3.20.0
Pillow==11.1.0
dj-database-url==2.2.0
django-storages==1.14.6
boto3==1.34.130
drf_yasg
celery>=5.3
redis==5.0.1
django-redis==5.4.0
django-celery-results>=2.5
daphne>=4.1
pika==1.3.2
aio-pika>=9.0.0
django-crum==0.7.9
flower==2.0.1
python-slugify>=8.0
django-sms
requests
agora-token-builder==1.0.0
img2pdf>=0.5
django-orbit>=0.8
openai
django-celery-beat
channels==4.0.0
channels-redis==4.2.0
httpx==0.28.1