.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
	width: 100vw;
	box-sizing: border-box;
	height: 100vh;
	z-index: 1;
}

.div1 {
  grid-area: 1 / 1 / 4 / 3;
	background-color: rgb(181, 181, 181);
}
.div1 img {
	height: 100%;
	width: auto;
}
.div2 {
  grid-area: 1 / 3 / 4 / 6;
	background-color: rgb(129, 129, 129);
}
.div3 {
  grid-area: 4 / 1 / 6 / 6;
	background-color: rgb(200, 200, 200);
	padding: 0 10px 0 10px;
}
.div4 {
  grid-area: 1 / 6 / 6 / 8;
	background-color: rgb(160, 160, 160);
}
