.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
}

.paginationContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing);
}

.paginationPrevious,
.paginationNext {
  gap: var(--spacing);
  padding-inline: calc(var(--spacing) * 2);
}

.paginationPrevious > span,
.paginationNext > span {
  display: none;
}

.paginationEllipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(var(--spacing) * 9);
  height: calc(var(--spacing) * 9);
}

.paginationEllipsis > svg {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

@media (width >= 640px) {
  .paginationPrevious > span,
  .paginationNext > span {
    display: block;
  }
}
